# binary files
bin/
pg_exporter

# IDE files
.vscode/
.idea/
pg_exporter.iml

# rpm files
rpmbuild/
make-rpm.sh

# mac os files
.DS_Store

# test files
pg_exporter_test.go
test/
deploy/
upload.sh

temp/